.divHome{
    border: 1px solid black;
    background-color: #5b5c5e;
    height: 99.7vh;
    box-shadow: inset 0 -2.5vh #2B2D42;
}

.divCards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}