.divHome{
    border: 1px solid black;
}

.divCards{
    width: 100vw;
    height: 60vh;
    background-color: limegreen;
}

.navSearch{
    height: 7vh;
    display:flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.navUl{
    
    height: 100%;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.navUl > li {
    border: 1px solid black;
    margin: 10px;
}